{% extends 'index3.html' %}

    {% block titulo %}
        Datos de Alumnos
    {% endblock titulo %}
            
    {% block contenido %}
    <h1> Datos de Alumnos</h1>
            
    <form method="GET" id="form">
        <input type="hidden" name="page" id="page" value="{{ page_obj.number }}">
    </form>
            
    <table class="table">
        <thead>
            <tr>
                {#<th>ID</th> #}
                <th>Matricula</th> 
                <th>Institucion</th>
                <th>Tipo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Termino</th>
                <th>Kardex</th>
                <th>Constancia de estudios</th>
                <th>Carta de Aceptación</th>
                <th>Carta de Liberación</th>
            
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for datos in object_list %}
                <tr>
                    {#<td>{{datos.id}}</td> #}
                    <td>
                        {% with alumno=datos.alumno|stringformat:"s"%}
                            {% for char in alumno %}
                                {% if char.isdigit %}
                                  {{ char }}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>         
                    <td>{{datos.institucion}}</td>
                    <td>{{datos.tipo}}</td>
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">{{datos.fecha_inicio}}</td>
                    {#<td>{{datos.fecha_termino}}</td> #}
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">
                        {% if datos.fecha_termino %}
                            {{ datos.fecha_termino }}
                        {% else %}
                            <a style="max-width: 150px; word-wrap: break-word; white-space: normal;">No hay fecha de termino (cuando la tenga puede editarla más tarde)</a>
                        {% endif %}
                    </td>
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">{{datos.kardex.name|slice:"11:"}}</td>
                        {# el .name|slice:"11:" es para quitarle el 'documentos/' que salia en el nombre de los arhivos #}
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">{{datos.constancia_estudios.name|slice:"11:"}}</td>
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">{{datos.carta_aceptacion.name|slice:"11:"}}</td>
                        {#<td>{{datos.carta_liberacion}}</td> #}
                    <td style="max-width: 150px; word-wrap: break-word; white-space: normal;">
                        {% if datos.carta_liberacion %}
                            {{ datos.carta_liberacion.name|slice:"11:"}}
                        {% else %}
                            No hay carta de liberación (cuando la tenga puede subirla más tarde)
                        {% endif %}
                    </td>
                    <td>
             
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'editar_datos' datos.id %}">
                            Editar
                        </a>
                        <a class="btn btn-sm btn-danger" href="{% url 'eliminar_datos' datos.id %}">
                             Eliminar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
            
    <a class="btn btn-lg btn-outline-success" href="{% url 'nuevos_datos' %}">
        Nuevo
    </a>
            
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="javascript:enviar(1);">&laquo; first</a>
                <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
                <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
                <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
            {% endif %}
        </span>
    </div>
            
    {% endblock contenido %}
            
    {% block scripts %}
    <script>
        function enviar(page){
            $("#page").val(page);
            $("#form").submit();
        }
    </script>
{% endblock scripts %}
