{% extends 'index.html' %}

{% block titulo %}
    {{accion}} Datos de Alumnos
{% endblock titulo %}
    
{% block contenido %}
    <h1>{{accion}} Datos de Alumnos</h1>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">
           {% if accion == 'Nuevos' %}
                Agregar
            {% else %}
                Guardar
           {% endif %} 
        </button>
    </form>

{% endblock contenido %}