<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Mensual</title>
</head>
<body>
    <h2>ASUNTO: Reporte mensual de actividades</h2>

    <h2>Matricula del Prestador (a): {{reporte.alumno}}<br>
    Periodo reportado: {{reporte.fecha_inicio}} / {{reporte.fecha_termino}}<br>	
    Horas reportadas: {{reporte.horas_Reportadas}}<br>	
    Lugar donde presta el Servicio: {{reporte.institucion.nombre}}	<br>
    Semestre actual: <br>
    Programa Académico:	{{reporte.alumno.programa_academico}} <br>	
    Nombre del Proyecto:	<br>
    <br>
    Dra. Diana Isabel Ortiz Esquivel<br>
    Responsable del  Departamento de <br>
    Servicio Social y Vinculación de la<br>
    Unidad Académica de Ingeniería Eléctrica<br>
    P r e s e n t e</h2>

    <h2>Actividades</h2>

    {{reporte.actividades}}


</body>
</html>