<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Inicial</title>
</head>
<body>
    <h2>ASUNTO: Programa de actividades a desarrollar</h2>

    <h2>M.I.A. DIANA ISABEL ORTIZ ESQUIVEL<br>
    COORDINADORA DEL DEPARTAMENTO DE SERVICIO<br>
    SOCIAL Y VINCULACIÓN DE LA UNIDAD ACADÉMICA<br>
    DE INGENIERÍA ELÉCTRICA.<br>
    P R E S E N T E.</h2>
    <br>
    
    Me permito poner a su consideración el Programa de Actividades a desarrollar, con el objetivo  de cubrir las 480 horas de Servicio Social, 
    obligatorias para efectos de liberar mi servicio social.  
    Estas actividades las desarrollaré bajo la asesoría de: {{alumno}} en un proyecto que consiste en lo siguiente:

    <br>
    1ER. MES: {{mes1}}
    <br>
    2DO. MES: {{mes2}}
    <br>
    3ER. MES: {{mes3}}
    <br>
    4TO. MES: {{mes4}}
    <br>
    5TO. MES: {{mes5}}
    <br>
    6TO. MES: {{mes6}}
    <br>
    7MO. MES: {{mes7}}
    <br>
    8VO. MES: {{mes8}}
    <br>

</body>
</html>