<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Final</title>
</head>
<body>
    <h2>ASUNTO: Reporte Global de actividades.</h2>

    <h2>Periodo de realización de Servicio Social: <br>
    Horas acumuladas:	<br>
    Lugar donde realizó el Servicio Social:	<br>
    Nombre del Prestador:	<br>
    Programa:	<br>


    M.I.A. DIANA ISABEL ORTIZ ESQUIVEL<br>
    COORDINADORA DEL DEPARTAMENTO DE SERVICIO<br>
    SOCIAL Y VINCULACIÓN DE LA UNIDAD ACADÉMICA<br>
    DE INGENIERÍA ELÉCTRICA.<br>
    P R E S E N T E.</h2>
    <br>
    

</body>
</html>