<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Final</title>
</head>
<body>
    <h2>ASUNTO: Reporte Global de actividades.</h2>
    <br>
    <h2>Periodo de realización de Servicio Social: {{reporte.fecha_inicio}} / {{reporte.fecha_termino}} <br>
    Horas acumuladas: {{reporte.horas_Acumuladas}}<br>
    Lugar donde realizó el Servicio Social: {{reporte.institucion.nombre}}	<br>
    Nombre del Prestador: {{reporte.alumno.nombre}} {{reporte.alumno.ap_paterno}} {{reporte.alumno.ap_materno}} <br>
    Programa: {{reporte.alumno.programa_academico}} <br>

    <br>
    M.I.A. DIANA ISABEL ORTIZ ESQUIVEL<br>
    COORDINADORA DEL DEPARTAMENTO DE SERVICIO<br>
    SOCIAL Y VINCULACIÓN DE LA UNIDAD ACADÉMICA<br>
    DE INGENIERÍA ELÉCTRICA.<br>
    P R E S E N T E.</h2>
    <br>
    
    <br>
    1ER. MES: {{reporte.mes1}}   
    <br>
    2DO. MES: {{reporte.mes2}}
    <br>
    3ER. MES: {{reporte.mes3}}
    <br>
    4TO. MES: {{reporte.mes4}}
    <br>
    5TO. MES: {{reporte.mes5}}
    <br>
    6TO. MES: {{reporte.mes6}}
    <br>
    7MO. MES: {{reporte.mes7}}
    <br>
    8VO. MES: {{reporte.mes8}}
    <br>
    9NO. MES: {{reporte.mes9}}
    <br>
    10MO. MES: {{reporte.mes10}}
    <br>
    11VO. MES: {{reporte.mes11}}
    <br>
    12VO. MES: {{reporte.mes12}}
    <br>


</body>
</html>