{% extends 'base2.html' %}

{% block titulo %}
    Lista de Instituciones
{% endblock titulo %}

{% block contenido %}
<h1>Lista de Instituciones</h1>

<form method="GET" id="form">
    <input type="hidden" name="page" id="page" value="{{ page_obj.number }}">
</form>

<a class="btn btn-lg btn-outline-success" href="{% url 'nuevo_institucion' %}">
    Nuevo
</a>

<table class="table">
    <thead>
        <tr>
            
            <th>Clave</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>RFC</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for institucion in object_list %}
        <tr>
            
            <td>{{institucion.clave}}</td>
            <td>{{institucion.nombre}}</td>
            <td>{{institucion.direccion}}</td>
            <td>{{institucion.email}}</td>
            <td>{{institucion.telefono}}</td>
            <td>{{institucion.rfc}}</td>
            <td>{{institucion.get_tipo_display}}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="{% url 'editar_institucion' institucion.clave %}">
                    Editar
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'eliminar_institucion' institucion.clave %}">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="javascript:enviar(1);">&laquo; first</a>
            <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
            <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock contenido %}

{% block scripts %}
    <script>
        function enviar(page){
            $("#page").val(page);
            $("#form").submit();
        }
    </script>
{% endblock scripts %}
