{% extends 'index.html' %}

{% block titulo %}
    Lista de programas
{% endblock titulo %}

{% block contenido %}
<h1>Lista de programas</h1>


<form method="GET" id="form">
    <input type="hidden" name="page" id="page" value="{{ page_obj.number }}">
</form>

<a class="btn btn-lg btn-outline-success" href="{% url 'nuevo_programa' %}">
    Nuevo
</a>
<table class="table">
    <thead>
        <tr>
            {% comment %} <th><input type="checkbox" name="todos" id=""></th> {% endcomment %}
            <th>Clave</th>
            <th>Nombre</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Teléfono</th>
            <th>Unidad Académica</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for programa in object_list %}
        <tr>
            {% comment %} <td>
                <input type="checkbox" name="{{programa.clave}}" >
            </td> {% endcomment %}
            <td>{{programa.clave}}</td>
            <td>{{programa.nombre}}</td>
            <td>{{programa.latitud}}</td>
            <td>{{programa.longitud}}</td>
            <td>{{programa.telefono}}</td>
            <td>{{programa.unidad_academica}}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="{% url 'editar_programa' programa.clave %}">
                    Editar
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'eliminar_programa' programa.clave %}">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="javascript:enviar(1);">&laquo; first</a>
            <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
            <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock contenido %}

{% block scripts %}
    <script>
        function enviar(page){
            $("#page").val(page);
            $("#form").submit();
        }
    </script>
{% endblock scripts %}
